.skills{
  margin-top: 50px;
}

.skills__container {
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  justify-content: center;
}

.skill__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.skill__box::after {
  content: "%";
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(100%, -50%);
  font-size: var(--fs-xs);
  color: var(--main-color);
}

.progress__circle {
  width: 128px;
  height: 128px;
  cursor: pointer;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: var(--main-color) !important;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: var(--main-color) !important;
  position: relative;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: var(--main-color-light) !important;
}

.skills__name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 1.5rem;
}

.skills .home__port-5 {
  bottom: -6rem;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  height: 24rem;
  right: -21rem;
  width: 36rem;
}

.skills .home__port-6 {
  top: 36rem;
  left: -7rem;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.skills .home__port-7 {
  height: 10rem;
  width: 10rem;
  bottom: 15rem;
  right: 32rem;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.circle-draw__welcome-8 {
  right: -20rem;
  bottom: 0rem;
  height: 23rem;
  width: 13rem;
  transform: unset;
  background: var(--main-color-x-light);
}
